.container {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 2.5%; 
    height: 80vh; 
    width: 100vw;
}

.title {
    font-size: 40px;
    font-family: Ubuntu Mono;
}

.button {
    width: 6em; 
    height: 3em; 
    background-color: #222; 
    color: #eee; 
    border-radius: 10px; 
    border: 2px solid #222; 
    font-family: Ubuntu Mono; 
    font-size: 20px;
}

.imageContainer {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    margin-top: 20px; 
    width: 80vw;
    height: 40vh; 
    gap: 5%;
}

.imageBase {
    width: 15%; 
    height: 15%; 
    margin-bottom: 18%;
}

.image {
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
}

.rare {
    border: solid 5px gold;
}

.cute {
    border: solid 5px pink;
}

@media (min-width: 1250px) {
    .imageContainer {
    width: 75vw;
    }
}

@media (max-width: 1249px) {
    .imageContainer {
    width: 100vw;
    }
}